@keyframes pop-up {
    0% {
        transform: translateY(100px) translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}

.unsaved-changes-banner {
    position: absolute;
    left: 50%;
    bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--tertiary-color);
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);

    /* hidden default state */
    transform: translateY(100px) translateX(-50%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* visible state triggers pop-up via transition */
.unsaved-changes-banner.visible {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
}

.unsaved-changes-banner .discard-button {
    background-color: var(--background-color);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.unsaved-changes-banner .save-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}